.container {
  width: 100%;
  height: 50px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(255, 59, 48, 0.15);
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}
.inputTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0;
  padding-left: 5px;
  border: none;
  border: 1px solid rgb(104, 75, 75);
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.controls {
  width: 95px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;
  padding: 0;
}

.control {
  all: unset;
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;

  &_disabled {
    cursor: not-allowed;
  }
}