.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.filter {
  all: unset;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(255, 59, 48, 0.15);
  opacity: 0.4;
}

.active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(green, 0.55);
}